.form-control {
    border-radius: 25px;
    border: 1px solid white;
    padding: 20px; 
    width: 450px;
    height: 50px;
}
.white-color-logout {
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}
.white-color-bold {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
}
.heading-font{
    color: #FFFFFF;
    
}

.padding-11{
    padding: 11px;
    text-align: right;
}
.profile-user-image {
    height: 60px;
    width: 60px;
    border-radius: 360px;
    border: 1px solid #27AE60;
}